In [7]:
import pandas as pd
import numpy as np

df=pd.read_csv('Nelder-Mead_None_[100.,100.].csv')

In [5]:
df.head()

,iteration,operation,point,function_value,func_evals,simplex
0,0,[100. 100.],20000.00000,4,0,"[array([100., 100.]), array([100.05, 100. ]),..."
1,1,NaN,NaN,10,0,"[array([100., 100.]), array([100.05, 99.95]),..."
2,2,[99.975 99.925],19980.00625,18,0,"[array([99.975, 99.925]), array([100., 100.]),..."
3,3,NaN,NaN,24,0,"[array([99.975, 99.925]), array([99.925, 99.97..."
4,4,[99.85 99.85],19940.04500,32,0,"[array([99.85, 99.85]), array([99.975, 99.925]..."

In [12]:
df=pd.read_csv('./BFGS_GoldenSection_[100.,100.].csv')

In [15]:
df.head()

   iteration                      point  func_eval  line_search_evals
0          1  [99.29289353 99.29289353]         31                 29
1          2  [98.58578705 98.58578705]         62                 58
2          3  [97.87868058 97.87868058]         93                 87
3          4  [97.17157411 97.17157411]        124                116
4          5  [96.46446763 96.46446763]        155                145